// Place all the styles related to the addresses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  box-sizing: border-box;
  list-style: none;
}

html{
  height: 100%; 
}



.single {
  background-color: #f5f5f5;
  height: 100%;
  width: 100%;
  .single__header {
    max-width: 50%;
    margin: 0 auto;
    img {
      width: 140px;
      margin: 10px 50px;
    }
  }
  .text {
    width: 700px;
    background-color: #fff;
    margin: 0 auto;
    height: 100%;
    h2.hed {
      max-width: 140px;
      margin: 0 auto;
      padding: 30px 10px;
      font-size: 16px;
    }
    .text__main--center {
      padding: 40px 40px 64px;
      height: 100%;
      background-color: #fff;
      .text__contents {
        margin: 0 140px;
        .field {
         height: 100%;
         margin-top: 34px;
         input, br {
           width: 335px;
           border-radius: 4px;
           border: 1px solid #ccc;
           padding: 10px 16px 8px;
           margin-bottom: 10px;
         }
         select{
          width: 335px;
          height: 48px;
          border-radius: 4px;
          border: 1px solid #ccc;
          padding: 10px 16px 8px;
          margin-bottom: 10px;
          background-color: #fff;
         }
        }
        .actions {
          margin-top: 50px;
          width: 335px;
          height: 50px;
          input {
            background-color: #ea352d;
            color: white;
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 2px;
          }
         }
      }
    }
  }
  .foter {
    height: 100px;
    width: 100%;
  }
}