.registrationForm {
  margin: auto;
  height: 200px;
  width: 100%;
  padding: 30px;
  text-align: center;
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  button {
    -webkit-appearance: none;
    height: 20%;
    width: 20%;
    font-size: 15px;
    background-color: #3CCACE;
    border-radius: 3px;
    &:hover{
      color:#000;
      background-color: rgb(90, 213, 218);
      cursor: pointer;
    }
  }
}