= render 'items/header'
.mypagetop
  = render 'users/side'
  .center__content
    .center__top
    支払い方法
    .center__title クレジットカード一覧
    .center__items クレジットカードを追加する
    .center__items 支払い方法について＞

= render 'items/footer'