.itemsNewContainer {
  background-color: rgb(245, 245, 245);
  padding-bottom: 100px;
  &__title {
    height: 128px;
    align-items: center;
    display: flex;
    margin-left: 570px;
    .head{
    width: 185px;
    }
  }
  &__body {
    max-width: 700px;
    background-color: rgb(255, 255, 255);
    font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
    font-size: 14px;
    margin-left: 350px;
    &__form {
      padding: 40px;
      .product{
        padding: 40px;
        vertical-align: baseline;
      }      
      .details{
        padding: 40px;
        vertical-align: baseline;
        &__title {
          color: rgb(136, 136, 136);
          font-size: 14px;
          font-weight: 600;
          line-height: 1.4em;
          margin-bottom: 24px;
        }
      }
      .delivery {
        box-sizing: border-box;
        display: block;
        padding: 40px;
        .title {
          color: rgb(136, 136, 136);
          font-weight: 600;
        }
      }

      .price{
        padding: 40px 40px 0px;
        display: block;
        &__container {
          margin-bottom: 40px;
          box-sizing: border-box;
          display: block;
          h2 {
            color: rgb(136, 136, 136);
            font-weight: 600;
            margin-bottom: 24px;
          }
          &__selling {
            padding-bottom: 12px;
            box-sizing: content-box;
            display: flex;
            .sellingContainer{
              font-family: Arial,游ゴシック体,YuGothic,メイリオ,Meiryo,sans-serif;
              align-items: center;
              display: flex;
              &__price{
                font-size: 14px;
                font-weight: 600;
                line-height: 1.4em;
              }
            }
            .feeContainer{
              span {
                margin-left: 240px;
              }
              &__form {
                text-align: right;
                border: 1px solid #ccc;
                border-radius: 4px;
                height: 48px;
                padding: 0 16px;
                width: inherit;
              }
            }
          }
        }
      }

      .submitArea{
        width: 360px;
        margin-top: 0px;
        margin-right: auto;
        margin-bottom: 32px;
        margin-left: auto;
        &__container {
          &___button{
            background-color: #ea352d;
            color: #fff;
            font-family: Arial,游ゴシック体,YuGothic,メイリオ,Meiryo,sans-serif;
            width: 100%;
            margin-bottom: 15px;
            font-size: 17px;
            min-height: 48px;
            padding: 0 24px 0;
            border-radius: 4px;
            border-color: transparent;
            border-style: solid;
            border-width: 1px;
            font-weight: 600;
          }
          .btnColor {
            background-color: gray;
          }
          &__root {
            text-align: center;
          }
        }
        .setu{
          font-size: 12px;
          line-height: 1.4em;
          display: block;
          margin-block-start: 1em;
          margin-block-end: 1em;
          margin-inline-start: 0px;
          margin-inline-end: 0px;
        }
      }
    }
  }
  .buttonn4{
    padding: 40px 0px 41px;
    margin-top: auto;
    text-align: center;
    .sc-kDhYZr.gwHGkM{
      margin: 0px;
      padding: 0px;
      border-width: 0px;
      border-style: initial;
      border-color: initial;
      border-image: initial;
      display: block;
    }
    .sc-sPYgB.gbluiW{
      display: block;
      font-family: Arial,游ゴシック体,YuGothic,メイリオ,Meiryo,sans-serif;
      .furima{
        display: block;
        .furima1_2{
          color: black;
        }
        .furima2-2{
          color: black;
        }
        .furima3-3{
          color: black;
        }
      }
    }
    .furima4{
      height: 65px;
      margin-bottom: 8px;
      width: 80px;
      vertical-align: middle;
      .hea{
        width: 100px;
        height: 100px;
      }
    }
  }
  select {
    border: 1px solid #ccc;
    margin:10px 0 10px;
    padding: 0 16px;
    height: 48px;
    width: 100%;
    background-color: white;
  }
} 

.titleContainer {
  display: flex;
  align-items: center;
  &__title {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.4em;
  }
  &__required {
    font-size: 12px;
    padding: 0 4px;
    background-color: #ff0211;
    color: #fff;
    border-radius: 2px;
    font-weight: 600;
    line-height: 1.4em;
    margin-left: 10px;
  }
  &__any {
    font-size: 12px;
    padding: 0 4px;
    background-color: rgb(197, 194, 194);
    color: #fff;
    border-radius: 2px;
    font-weight: 600;
    line-height: 1.4em;
    margin-left: 10px;
  }
}

.texts {
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 48px;
  padding: 0 16px;
  display: flex;
  width: 100%;
  margin:10px 0 10px;
}