.itemsShow {
  display: flex;
  background-color: rgb(226, 221, 221);
  &__container {
    position: relative;
    margin: 20px auto 20px;
    width: 55%;
    padding: 20px;
    background-color: white;
    .soldOutContainer {
      position: absolute;
      top: 0;
      left: 0px;
      border-bottom: 10vw solid transparent;
      border-left: 10vw solid red;
    }
    .soldOutComment {
      transform: rotate(-45deg);
      position: absolute;
      top: 24px;
      left: 6px;
      color: #ffffff;
      font-weight: bold;
      font-size: 28px;
    }
    .ProductName {
      display: flex;
      justify-content: center;
      padding: 10px;
      font-size: 20px;
      font-weight: bold;
    }
    .ProductInformation {
      position: relative;
      justify-content: center;
      .ProductImages {
        width: 40%;
        &__main {
          display: flex;
          width: 70%;
          height: 250px;
          margin: auto ;
          background-color: gold;
        }
        &__subContainer {
          width: 90%;
          height: 80px;
          padding: 5px;
          margin: 5px auto 5px;
          .subImage {
            display: inline-block;
            border: black 1px solid;
            width: 24%;
            height: 70px;
          }
        }
      }
      .ProductSelections {
        position: absolute;
        right: 50px;
        top: 5px;
        &__lists {
          width: 100%;
          border: rgb(248, 248, 248) solid 1px;
          th {
            width: 30%;
            padding: 15px 10px 15px;
            background-color: rgb(218, 218, 218);
            border: rgb(235, 235, 235) solid 1px;
            font-size: 12px;
          }
          td {
            width: 70%;
            padding: 10px;
            border: rgb(235, 235, 235) solid 1px;
          }
          &__category {
            font-size: 12px;
          }
        }
      }
    }
    .PriceContainer {
      margin: 20px auto 20px;
      width: 90%;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      .ProductPrice {
        font-size: 20px;
        font-weight: bold;
      }
      .ProductTax {
        font-size: 12px;
        padding: 5px 5px 0;
      }
    }
    .purchase {
      width: 90%;
      height: 50px;
      margin: 20px auto 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 20px;
      font-weight: bold;
    }
    &__clickBox {
      display: flex;
      justify-content: center;
      .likesCount {
        background-color: rgb(240, 236, 236);
        border-radius: 20px;
        width: 100px;
        text-align: center;
        padding: 12px 0;
        margin: 5px;
      }
      .inappropriateReport {
        background-color: rgb(240, 236, 236);
        border-radius: 20px;
        text-align: center;
        padding: 15px 8px;
        margin: 5px;
        font-size: 12px;
      }
      .initiative {
        padding: 12px 8px;
        margin: 5px 20px 5px 100px;
        color: rgb(0, 183, 255);
      }
    }
  }
}

.moreList {
  background-color: rgb(226, 221, 221);
  padding-bottom: 20px;
  &__container {
    margin: auto;
    width: 55%;
    padding: 20px;
    background-color: white;
  }
}

.itemsShowBtn {
  margin-top: 10px;
  display: inline-block;
  background-color: rgb(197, 197, 197);
  color: white;
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

.furimaBtn {
  background-color: $furima_theme_color;
}

.ProductImages {
  height: 300px;
  left: 45px;
  &__0 {
    margin-top: 5px;
    width: 300px;
    height: 300px;
  }  
  &__1,&__2,&__3,&__4 {
    display: inline-block;
    margin-top: 5px;
    width: 4.9vw;
    height: 100px;
  }
  img {
    width: 100%;
    height: 100%;
  }
}

.ProductImages-nav {
  width: 50%;
  height: 200px;
  display: block;
  &__0 {
    margin-top: 5px;
    margin: auto;
    width: 300px;
    height: 300px;
  }  
  &__1,&__2,&__3,&__4 {
    display: inline-block;
    margin-top: 5px;
    width: 4.5vw;
    height: 100px;
  }
  img {
    width: 100%;
    height: 50%;
  }
}


#payjp_checkout_box {
  text-align: center;
  input {
    display: block;
    width: 90%;
    height: 50px;
    margin: 20px auto 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: $furima_theme_color;
  }
}
