* {
  box-sizing: border-box;
  list-style: none;
}

@mixin hoge {
  text-decoration: none;
}

.header{
  padding: 15px 60px;
  max-width: 1160px;
  scroll-padding-top: 82px;
  margin: 0 auto;
  &__main-header{
    display: flex;
    &--icon{
      margin-right: 30px;
      padding-bottom: 10px;
      img{
        width: 140px;
      }
    }
    &--search-box{
      margin-left: auto;
      width: 100%;
      display: flex;
      padding-top: 5px;
      &__input{
        width: calc(100% - 26px);
        input{
          width: 100%;
          height: 40px;
        }
      }
      &__submit{
        input{
          width: 36px;
          height: 40px;
          background-color:#3CCACE;
        }
      }
    }
  }
  &__lists{
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    &--left{
      display: flex;
      position: relative;
      @include link-color();
        &__brand a{
          padding: 0 0 0 32px;
        }
    }
    &--right {
        display: flex;
        @include link-color();
        &__new-create a{
          padding: 0 0 0 32px;
        }
        &__logout a{
          padding: 0 0 0 32px;
        }
    }
  }
}

.category__child, .category__parent, .category__grandchild{
  display: none;
}

.category__icon,.brands__icon{
  color: blue;
}

// カテゴリーの大枠の要素の共通項
.category__list{
  position: absolute;
  height: 560px;
  background-color: white;
  border-right: 1px solid whitesmoke;
}

// 子要素はカテゴリー名の共通項
.category__child--name{
  width: 100%;
  color: black;
  display: inline-block;
  padding: 3px 15px;
  font-size: 11px;
  letter-spacing: 2px;
  
}

.categories{
  padding-bottom: 10px;
  &:hover{
    .category__parent{
      top: 20px;
      display: block;
      &--name{
        width: 100%;
        color: black;
        display: inline-block;
        padding: 10px 20px;
        font-size: 13px;
        letter-spacing: 2px;
        
      }
      li {
        &:hover{
          .category__child{
            width: 100%;
            display: block;
            top: 0;
            left: 221px;
            li {
              &:hover{
                .category__grandchild{
                  width: 300px;
                  display: block;
                  top: 0;
                  left: 220px;
                }
              }
            }
          }
        }
      }
    }
  }
}