a {
  text-decoration: none;
}

.topInformation {
  background-image: image-url("bg-mainVisual-pict_pc.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  height: 560px;
  width: 100%;
  padding:0 60px 0;
  align-items: center;
  &__content {
    width: 100%;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
    color: #fff;
    &__title {
      font-size: 60px;
      line-height: 1.2;
    }
    &__message {
      margin: 16px 0 30px 0;
      font-size: 18px;
      line-height: 1.7;
    }
  }
}
.introduction {
  width: 100%;
  padding: 80px 20px;
  &__title {
    width: 100%;
    margin-bottom: 36px;
    font-size: 34px;
    font-weight: bold;
    line-height: 1.4;
    text-align: center;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 80%;
    &__list {
      position: relative;
      width: 30%;
      margin: 0 10px 0;
      &__img {
        width: 100%;
      }
      &__number {
        position: absolute;
        background-color: $furima_theme_color;
        height: 70px;
        width: 70px;
        border-radius: 3px;
        top: 0px;
        text-align: center;
        font-size: 35px;
        color: white;
        line-height: 70px;
      }
      &__title {
        margin: 20px;
        text-align: center;
        font-size: 32px;
        font-weight: bolder;
        & span {
          color: $furima_theme_color;
        }
      }
      &__explanation {
        font-size: 20px;
      }
    }
  }
}
.secondInformation {
  background-image: image-url("bg-topMiddleDl-pict.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  height: 500px;
  width: 100%;
  padding:0 60px 0;
  align-items: center;
  &__content {
    color: #fff;
    text-shadow: 0 0 10px rgba(0,0,0,0.4);
    &__title{
      margin: 10px 0 10px;
      font-size: 32px;
      font-weight: bolder;
    }
    &__message {
      margin-bottom: 20px;
      font-size: 22px;
    }
  }
}

.feature{
  margin-bottom: 150px;
  &__title {
    width: 100%;
    margin: 50px 0 50px;
    line-height: 1.4;
    text-align: center;
    font-size: 34px;
    font-weight: bold;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    &__list {
      width: 30%;
      &__img {
        display: block;
        margin: auto;
        width: 60%;
      }
      &__title {
        margin: 10px 0 10px;
        font-size: 32px;
        font-weight: bolder;
        text-align: center;
      }
      &__explanation {
        font-size: 20px;
      }
    }
  }
}

.category {
  background-color: rgb(243, 243, 243);
  &__wrapper {
    padding: 80px 0 80px;
    text-align: center;
    &__title {
      font-size: 36px;
      font-weight: bolder;
    }
    &__subtitle {
      font-size: 30px;
      font-weight: bolder;
      color: $furima_theme_color;
    }
    &__box {
      height: 450px;
    }
  }  
}

.storeIcon {
  height: 100px;
  width: 260px;
  margin-right: 5px;
}