.center__sidebar {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  .sidebar__contents-title, .sidebar__contents-setting {
    &:hover{
      color:#000;
      background-color: rgb(231, 228, 228);
      cursor: pointer;
    }
    color: #555;
    display: inline-block;
    width: 280px;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    margin-bottom: 2px;
    background-color:white;
    box-shadow: 0 1px 1px 0 rgba(185, 185, 185, 0.2);
  }
  h1 {
    margin: 20px 0 3px 0;
  }
  .center__content {
    height: 100%;
    .center__top, img {
      height: 155px;
      width: 100%;
    }
  }
}