.header 
  .header__main-header 
    .header__main-header--icon 
      %img{ src: "/assets/logo.png"}
    .header__main-header--search-box 
      %li.header__main-header--search-box__input 
        %input(type="text" placeholder="キーワードから探す")
      %li.header__main-header--search-box__submit
        %img{ src: "/assets/icon-search 1.png"}

  .header__lists
    .header__lists--left
      %li.lheader__ists--left__cotedory
        カテゴリー
      %li.header__lists--left__brand
        ブランド
    .header__lists--right
      %li.header__lists--right__login
        ログイン
      %li.header__lists--right__new-create
        新規会員登録