        .new_item_page_container_main_carrierwave_image 
          .prepend_area
            .pre-content
            =form.fields_for :item_images do |i|
              .new_item_page_container_main_label{"data-index" => "#{i.index}"}
                = i.file_field :src, class: 'js-file'
                .js-remove 削除 
              %p クリックをしてアップロード