= render 'items/header'

.itemsShowContainer
  .ProductName
  .ProductInformation
    .ProductInformation__picture
    .ProductInformation__selections
      .ProductInformation__selections__left
        %li.ProductInformation__selections__left__list
          出品者
        %li.ProductInformation__selections__left__list
          カテゴリー
        %li.ProductInformation__selections__left__list
          ブランド
        %li.ProductInformation__selections__left__list
          商品の状態
        %li.ProductInformation__selections__left__list
          配送料の負担
        %li.ProductInformation__selections__left__list
          配送の方法
        %li.ProductInformation__selections__left__list
          配送元地域
        %li.ProductInformation__selections__left__list
          発送日の目安	
        %li.ProductInformation__selections__left__list
      .ProductInformation__selections__right
        %li.ProductInformation__selections__right__list
          出品者(test用)
        %li.ProductInformation__selections__right__list
          カテゴリー(test用)
        %li.ProductInformation__selections__right__list
          ブランド(test用)
        %li.ProductInformation__selections__right__list
          商品の状態(test用)
        %li.ProductInformation__selections__right__list
          配送料の負担(test用)
        %li.ProductInformation__selections__right__list
          配送の方法(test用)
        %li.ProductInformation__selections__right__list
          配送元地域(test用)
        %li.ProductInformation__selections__right__list
          発送日の目安(test用)
        %li.ProductInformation__selections__right__list
  .ProductPrice
  -# = link_to ？？_path do
    購入画面に進む
    
= render 'items/footer'