a{
  color: black;
}
.login-page {
  background-color: #3333;
  text-align: center;
  padding: 30px 0 220px;
  img{
    width: 140px;
  }
  &__main{
    padding-top: 30px;
    max-width: none;
    width: 456px;
    background-color: #3CCACE;
    margin: 0 auto;
    height: 700px;
    &--sign-up{
      width: 100%;
      p{
        padding-bottom: 10px;
      }
      .icon{
        a{
          background-color: chartreuse;
          color: #fff;
        }
      }
    }
    &--login{
      padding: 32px 64px;
      .field{
        padding: 24px;
        input{
          height: 48px;
          width: 328px;
        }
      }
      .actions{
        input{
          width: 328px;
          right: 10px;
        }
        padding: 40px 20px;
      }
    }
  }
}