.mypagetop {
  background-color: rgb(245, 240, 240);
  display: flex;
  justify-content: space-between;
  padding: 40px;
  width: 100%;
  .center__content {
    height: 100%;
    .center__top, img {
      height: 155px;
      width: 100%;
    }
    .center__title, .center__items{
      height: 200px;
      width: 100%;
      margin: 40px 0 40px 0;
    }
  }
  .logoutArea{
    margin: 0 auto;
    width: 100%;
    height: 200px;
    background: white;
      &__link {
          position: relative;
          width: 100%;
          height: 200px;
          display: block;
            &--button{
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              margin: auto;
              height: 40px;
              width: 300px;
              color: white;
              background-color: #3CCACE;
              font-size: 13px;
            }
        }

  }
}