.myList {
  background-color: rgb(243, 243, 243);
  &__wrapper {
    padding: 40px 0 60px;
    text-align: center;
    &__title {
      font-size: 36px;
      font-weight: bolder;
    }
    &__subtitle {
      font-size: 30px;
      font-weight: bolder;
      color: $furima_theme_color;
    }
    &__box {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      padding: 1vw 10vw 1vw;
      &__comment {
        margin: 100px auto 100px;
        font-size: 30px;
      }
      .ProductContainer {
        background-color: white;
        margin: 3.2vw;
        width: 20vw;
        img {
          width: 20vw;
          height: calc(20vw * 1);
        }
        .detailsContainer {
          display: flex;
          justify-content: space-around;
          &__left {
            justify-self: start;
            margin-bottom: 5px;
            &__name {
              font-size: 12px;
            }
            &__prise {
              font-size: 8px;
            }
            &__tax {
              font-size: 10px;
            }
          }
          &__right {
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }  
}