.mypagetop {
  background-color: rgb(245, 240, 240);
  display: flex;
  justify-content: space-between;
  padding: 40px;
  width: 100%;
  .center__content {
    height: 100%;
    .center__top, img {
      height: 155px;
      width: 100%;
    }
    .mypage--tags {
      margin-top: 10px;
      width: 100%;
      &__title {
        width: 100%;
        height: 50px;
        font-size: 20px;
        background-color: white;
        display: flex;
        text-align: center;
        align-items: center;
        .notice {
          height: 50px;
          width: 50%;
          padding-top: 10px;
          border-top: red solid 2px;
          &__list {
            height: 80px;
            width: 200%;
            background-color: white;
            display: flex;
            align-items: center;
          }
        }
        .todo {
          height: 50px;
          width: 50%;
          padding-top: 10px;
          background-color: rgb(207, 204, 204);
        }
      }
    }
    .purchase--tags {
      margin-top: 150px;
      width: 100%;
      &__title {
        width: 100%;
        height: 50px;
        font-size: 20px;
        background-color: white;
        display: flex;
        text-align: center;
        align-items: center;
        .transactions {
          height: 50px;
          width: 50%;
          padding-top: 10px;
          border-top: red solid 2px;
          &__list {
            height: 80px;
            width: 200%;
            background-color: white;
            display: flex;
            align-items: center;
          }
        }
        .pastTransactions {
            height: 50px;
            width: 50%;
            padding-top: 10px;
            background-color: rgb(207, 204, 204);
        }
      }
    }
    // .center__title, .center__items{
    //   height: 200px;
    //   width: 100%;
    //   margin: 40px 0 40px 0;
    // }
  }







  .logoutArea{
    margin: 0 auto;
    width: 100%;
    height: 200px;
    background: white;
      &__link {
          position: relative;
          width: 100%;
          height: 200px;
          display: block;
            &--button{
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              margin: auto;
              height: 40px;
              width: 300px;
              color: white;
              background-color: #3CCACE;
              font-size: 13px;
            }
        }

  }
}